<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>
        my twitch bot
    </title>
    <meta charset="UTF-8">
<!--    <script th:inline="javascript">-->
<!--        let isDevMode = [[${isDevMode}]]-->
<!--        let botDevUsername = [[${botDevUsername}]]-->
<!--        let botDevOauth = [[${botDevOauth}]]-->
<!--        let botDevChannels = [[${botDevChannels}]]-->
<!--    </script>-->
</head>
<body>
    <div id="app"></div>
    <script th:src="js/main.js"></script>
</body>
</html>